@using ExcelManagement.DxBlazor.Data
@using ExcelManagement.DxBlazor.Pages
@using ExcelManagement.ClassLibary
@using ExcelManagement.ClassLibary.Models

@using ClosedXML.Excel

@page "/"

@*Logo*@
<div style="width: 100%; height: auto; display: flex; justify-content: center;">
    <img src="/images/index.png" style="width: 50%" />
</div>
<p> </p>
<p> </p>


@*Loading Animation*@
@if (IsLoadingRender)
{
    <div class="text-center">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading</span>
        </div>
        <h2>Loading...</h2>
    </div>
}
else
{
    if (!IsWorkbookSelected) //Select Sheet
    {
        <h3>Please select a excel document:</h3>
        <p></p>
        <DxComboBox Data="@Files"
            NullText="Select a File..."
            Value="@SelectedFileName"
            ValueChanged="(string fileName) => { SelectedFileName = fileName; FileSelection(fileName); }">
        </DxComboBox>
    }

    else //If Sheet Has Been Selected
    {
        <h1><span style="color: gray;">Excel Document: </span>@SelectedFileName</h1>
        <div style="display:flex; justify-content:space-between;">
            <DxTabs ScrollMode="TabsScrollMode.NavButtons" TabClick="OnTabClick">
                @foreach (var item in listString)
                {
                    <DxTabPage Text="@item" TabIconCssClass="oi oi-book" />
                }
            </DxTabs>

            <div>
                <DxButton RenderStyle="ButtonRenderStyle.Primary"
                      Text="Download File"
                      IconCssClass="oi oi-data-transfer-download">
                </DxButton>
                <DxButton RenderStyle="ButtonRenderStyle.Secondary"
                      Text="Upload File"
                      IconCssClass="oi oi-cloud-upload">
                </DxButton>
            </div>

        </div>

        @*Workbook*@
        <WorkbookComponent SelectedFileName="@SelectedFileName"
            DirectoryPath="@DirectoryPath"
            AlertMessage="@Alert">
        </WorkbookComponent>     
    }

    @*Alert*@
    <p></p>
    <p></p>
    @foreach (AlertMessageModel message in alertMessages)
    {
        <AlertMessage model="@message" dispose="DisposeAlert" />
    }
}

@code {
    //Loading
    bool IsLoadingRender { get; set; } = true;
    bool IsWorkbookSelected { get; set; } = false;
    //Files
    private string SelectedFileName { get; set; }
    private string DirectoryPath { get; set; }
    private List<string> Files { get; set; } = new();
    // Alert
    List<AlertMessageModel> alertMessages = new();
    //File Logic
    FileLogic fileLogic = new();

    //test
    List<string> listString = new();
    private string SelectedTab { get; set; } = "default Value";

    //---------------------------------------------------------------------------//
    /* test                                                              */
    //---------------------------------------------------------------------------//
    void OnTabClick(TabClickEventArgs e)
    {
        int tabIndex = e.TabIndex;
        if (e.TabIndex < listString.Count())
        {
            SelectedTab = listString[tabIndex];
        }
    }

    //---------------------------------------------------------------------------//
    /* Razor Page                                                                */
    //---------------------------------------------------------------------------//

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            listString.Add("Tab 1.0");
            listString.Add("Tab 2.0");
            listString.Add("Tab 3.0");
            SelectedTab = listString.First();

            DirectoryPath = @"..\ExcelDocuments"; //Default dirictory
            GetFiles(DirectoryPath);

            IsLoadingRender = false;
            StateHasChanged();
        }
    }

    //Get files in from dirictory.
    private void GetFiles(string directoryPath)
    {
        var fileNames = Directory.GetFiles(directoryPath, "*.xlsx");
        Files.AddRange(fileNames.Select(fileName => Path.GetFileNameWithoutExtension(fileName)));
    }

    //File has been Selected
    private void FileSelection(string fileName)
    {
        string selectedFileName = ((fileName.Contains(" ") && fileName == fileName.Replace(" ", "")) || fileName == null) ? null : fileName;

        if (!((fileName.Contains(" ") && selectedFileName == selectedFileName.Replace(" ", "")) || selectedFileName == null))
        {
            if (fileLogic.IsFileAccessable(DirectoryPath, selectedFileName))
            {
                IsWorkbookSelected = true;
            }

            else
            {
                Alert(new AlertMessageModel(AlertMessageModel.AlertType.FileInaccessible));
            }

            StateHasChanged();
        }
    }

    //---------------------------------------------------------------------------//
    /* Allert Messages                                                           */
    //---------------------------------------------------------------------------//

    //Add alert messgae to alert list
    private void Alert(AlertMessageModel alertObject)
    {
        alertMessages.Add(alertObject);
    }

    // Dispose alert message
    private void DisposeAlert(Guid guid)
    {
        //alertMessages.Remove(alertMessages.Single(message => message.Guid.CompareTo(guid) == 0));
        AlertMessageModel alertToBeDeleted = alertMessages.Find(alert => alert.Guid == guid);
        if (alertToBeDeleted != null)
        {
            alertMessages.Remove(alertToBeDeleted);
        }
    }
}